* {
  margin: 0;
  padding: 0;
}
body {
  height: 15px;
  width: 50px;
  background: #;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 50px;
}
#apple{
  font-size: 1.6em;
  background-color: #;
  color: #ffffff;
  box-shadow: 2px 2px 2px #00000080, 6px 1px 12px #00000080,
    2px 2px 10px #FFD70080, 2px 2px 3px #FFD70080, inset 2px 2px 10px #00000080,
    inset 2px 2px 2px #00000080, inset 2px 2px 4px #ffffff80,
    inset 2px 2px 10px #00000080;
  border-radius: 4px;
  padding: 3px 52px;
  margin: 0 5px;
  animation: animate 5s linear infinite;
  text-shadow: 0 0 25px #ffffff, 0 0 50px #ff0000, 0 0 50px #ffffff,
    0 0 150px #ff0000;
}
#twitter {
  animation-delay: 0.3s;
}
#facebook {
  animation-delay: 0.7s;
}
#github {
  animation-delay: 0.1s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}